* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

#card{
    height: 500px;
    width: 350px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding: 10px;
    border-radius: 28px;
}

#card h1{
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}